.header{
    border-radius: 0px 0px 40px 40px;
    background-color: #ED5353;
    display: flex;
    justify-content: space-between;
    padding:15px 0px;
}

.name{
    font-size: 1.5rem;
    font-weight: 700;
    margin:30px;
    color: #fff;
}

.logout_name{
    display: flex;
    gap: 20px;
    align-items: center;

}

.logout_name button{
    padding: 10px 30px;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 1rem;
    outline: none;
    color: #fff;
    background: transparent;
}

.image{
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 15px;
}